/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

header {
  height: 100px;
  clear: both;
}


.Boxes{
  height: 200px;
  width: 33.333%;
  float: left;
}

#topLeft{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#topMiddle{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
 
}

#topRight{
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

#leftMiddle{
  border-bottom: 2px solid black;
}

#middleMiddle{

  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

#rightMiddle{
  border-bottom: 2px solid black;
  
  border-top: 2px solid black;
}

#bottomLeft{

  border-right: 2px solid black;
}

#bottomMiddle{
  border-right: 2px solid black;
  border-left: 2px solid black;
}

#bottomRight{
 
  border-left: 2px solid black;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
